/* set-up */
button {
  all: unset;
  cursor: pointer;
}

/* Cookie */
.cookie {
  background: transparent;
  margin: 3rem auto;
  width: 20em;
  height: 17em;
  position: relative;
}

.cookie-section, .cookie-crumbs, .cookie-crumb, .fortune {
  position: absolute;
  top: 0;
  transform: translateX(50%)
}

.cookie-section {
  background: currentColor;
  color: #e8aa63;
  width: 9em;
  height: 18em;
  z-index: 2;
}

.left {
  border-radius: 8em 1.5em 1.5em 7em / 50%;
  transform: rotate(-30deg);
  left: 0.5em;
  box-shadow:
    1.2em -0.2em .5em #bb8b54 inset,
    1.5em -.6em 1.5em rgba(255, 255, 255, .3)inset,
    0.1em 0.1em 1em rgba(0,0,0,.2)  inset,
    -0.75em 0 1.2em rgba(0,0,0,.5)  inset;
}

.right {
  border-radius: 7em 1.5em 1.5em 8em / 50% 50%;
  right: 1em;
  transform: rotate(210deg);
  clip-path: polygon(0% 0%, 54% 0%, 100% 40%, 100% 100%, 0% 100%);
  box-shadow:
    1.2em 0.2em .5em #bb8b54 inset,
		1.5em .6em 1.5em rgba(255, 255, 255, .3) inset,
    0.1em 0.1em 1em rgba(0,0,0,.2)  inset,
		-0.75em 0 1.2em rgba(0,0,0,.5) inset;
}

/* Crumbs */
.cookie-crumbs {
  left: 40%;
  top: 50%;
  width: 2em;
  height: 6em;
  z-index: 1;
}

.cookie-crumb {
  width: 1.5em;
  height: 1.5em;
  object-fit: cover;
  background: transparent;
}

.cookie-crumb:nth-child(1) {
  top: 10%;
	left: 50%;
}
.cookie-crumb:nth-child(2) {
  top: 30%;
	right: 80%;
}
.cookie-crumb:nth-child(3) {
  top: 30%;
	left: 35%;
}
.cookie-crumb:nth-child(4) {
  top: 70%;
	right: 95%;
}
.cookie-crumb:nth-child(5) {
  top: 55%;
	left: 50%;
}
.cookie-crumb:nth-child(6) {
  top: 75%;
	right: 0%;
}
.cookie-crumb:nth-child(7) {
  top: 95%;
	left: -10%;
}
.cookie-crumb:nth-child(8) {
  top: 10%;
	right: 115%;
}
.cookie-crumb:nth-child(9) {
  top: 0%;
	right: 50%;
}
.cookie-crumb:nth-child(10) {
  top: 50%;
	left: -5%;
}

/* animation */

.load {
  animation: popOut 0.3s linear;
}

.break {
  width: 26em;
	height: 6em;
}

.break .left {
  animation: breakLeft 0.7s ease-in forwards;
}

.break .right {
  animation: breakRight 0.7s ease-in forwards;
}

.break .cookie-crumbs {
  animation: fallOut 0.7s ease-in forwards;
}

.break .fortune {
	animation: foldOut 0.7s ease-in forwards;
}

@keyframes popOut {
  from {
    transform: scale(0);
  }
  60% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes breakLeft {
  from {
    transform: translateX(0) rotate(25deg);
  }
  30%, 40% {
    transform: translateX(0) rotate(55deg);
	}
	70%, 80% {
		opacity: 1;
		transform: translateX(-14em) rotate(50deg);
	}
	to {
		opacity: 0;
		transform: translateX(-14em) rotate(50deg);
	}
}

@keyframes breakRight {
	from {
		transform: translateX(0) rotate(-25deg);
	}
	30%, 40% {
		transform: translateX(0) rotate(-55deg);
	}
	70%, 80% {
		opacity: 1;
		transform: translateX(14em) rotate(-50deg);
	}
	to {
		opacity: 0;
		transform: translateX(14em) rotate(-50deg);
	}
}

@keyframes fallOut {
	from {
		left: calc(50% - 0.4em);
		width: 0.8em;
		transform: translateY(0);
	}
	30% {
		opacity: 1;
	}
	60%, to {
		opacity: 0;
		left: calc(50% - 3em);
		width: 6em;
		transform: translateY(24em);
	}
}

@keyframes foldOut {
	from {
		transform: scale(0.23,0.7);
	}
	30%, 40% {
		transform: scale(0.5,0.7);
	}
	69% {
		transform: scale(1,0.7);
	}
	74%, to {
		transform: scale(1,1);
	}
}
