.fortune {
  background: rgb(255, 254, 252);
  color: black;
  padding: 0.75em 1em;
	text-align: center;
	width: 26em;
	height: 6em;
  left: -5%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0,1);
  transform-origin: 50% 32%;
  border-radius: 2px;
  box-shadow:
  inset .1em .1em .5em rgba(0, 0, 0, .4),
  .5em .5em .5em rgba(0, 0, 0, .4),;
}

@media(max-width: 601px) and (min-width: 300px) {
  .fortune {
    width: 20em;
    left: 5%;
  }
}

@media(max-width: 301px) {
  .fortune {
    width: 20em;
    left: -7%;
  }
}
