.fortune {
  background: rgb(255, 254, 252);
  color: black;
  padding: 0.75em 1em;
	text-align: center;
	width: 26em;
	height: 6em;
  left: -90%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transform: scale(0,1); */
  transform-origin: 50% 32%;
}
